<div class="container">
    <div class="firstline">
        <div class="firstline-search">
            <input type="search" class="rounded mt-5" style="width: 300px" [(ngModel)]="userNameSearched"
                placeholder="Chercher les decks de l'utilisateur..." />
            <button class="btn btn-primary" (click)="findDecksFromUser()">Rechercher</button>
        </div>
        <div class="firstline-create">
            <button class="btn btn-secondary rounded mt-5" [routerLink]="['/newdeck']">Créer un deck</button>
        </div>
    </div>
    <h1 class="text-center m-5" style="color:darkslateblue;">Liste des decks</h1>
    <div class="row">
        <div class="col-4" *ngFor="let deck of decklist.decks">
            <div class="card-body">
                <ng-container *ngIf="getArtFromCurrentDeck(deck.commander) | async as imageUrl">
                    <img [src]="imageUrl">
                  </ng-container>
                <h5 class="deck-name"> {{deck.name}}</h5>
                <a href="#" class="btn btn-danger" routerLinkActive="active"
                    [routerLink]="['/decklist/detail/', deck.id]">Détail</a>
            </div>
        </div>
    </div>

</div>