<div class="row justify-content-center align-items-center mt-5">
    <div class="col-md-6">
        <div class="form-group">
            <label for="deckname">Nom du deck</label>
            <input type="text" class="form-control" id="deckname" aria-describedby="deckname"
                placeholder="Entrez un nom..." name="deckname" [(ngModel)]="deck">
        </div>

        <form #form="ngForm">
            <mat-form-field>
                <input type="text" matInput [matAutocomplete]="auto" [formControl]="myControl">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let suggestion of filteredSuggestions | async" [value]="suggestion.name">
                        {{ suggestion.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>

        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button class="btn btn-primary" (click)="submitDeck()">Créer</button>
    </div>
</div>